
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home";
}

<div class="info-panel">
  <div>Home controller visits :@Context.Session.GetInt32("Home")</div>
  <div>Another controller vists: @Context.Session.GetInt32("Another")</div>
  <div>Overall visits: @Context.Session.GetInt32("Overall")</div>
</div>
